<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
  <link href="css/exam 2.1.css" rel="stylesheet">
  </head>
  <body>
  		<div class="container">
			<div class="chat panel panel-info">
  				<div class="chat_heading panel-heading"> Чат </div>
  				<div class="panel-body">
					<div class="row">
						<div class="chat__messages col-md-6 col-md-push-6 col-lg-6 col-lg-push-5 col-lg-offset-1">
							<div class="panel panel-default">
  								<div class="chat__messages-container panel-body" ></div>
  								<div class="chat__messages-counter panel-footer"></div>
							</div>
							<button class="chat__messages-remove-button btn btn-primary"> Remove messages</button>
						</div>
						<div class="form__container col-md-6 col-md-pull-6 col-lg-5 col-lg-pull-7">
							<form class="chat__form form-horizontal" role="form">
									<div class="form-group">
										<label class="control-label  col-md-3 " for="username">Username:</label>
										<div class=" col-md-9">
											  <input type="text" class="form-control" id="username" placeholder="Student">
											  <span class="help-inline error"> </span>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label  col-md-3" for="message">Message:</label>
											<div class=" col-md-9"> 
											  <textarea class="form-control" id="message" placeholder="У меня сегодня экзамен"></textarea>
											  <span class="help-inline error"> </span>
											</div>
									</div>
									<div class="form-group"> 
										<div class="col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">
											  <button type="submit" id="submit" class="btn btn-primary">Send</button>
										</div>
									</div>
							</form> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/template" id="message-template">
	 		<span class="col-sm-9 message"> <span class="username"> <%= username %> </span>:  <%= messageText %> </span>
	 		<span class="col-sm-3 pull-right message"> <%= date %> </span>
		</script>
		<script type="text/template" id="counter-template">
			Всего сообщений: <%= this.collection.length %>
		</script>
		<script data-main="js/main" src="js/lib/require/require.js"></script>
	</body>
</html>
